@model List<Room>

<table>
    <thead>
        <tr>
            <th>
                Room id
            </th>
            <th>
                Seats count
            </th>
            <th>
                Update
            </th>
            <th>
                View
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var room in Model){
            <tr>
                <td>
                    @room.Id
                </td>
                <td>
                    @room.SeatsCount
                </td>
                <td>
                    
                    <form asp-controller="Room" asp-action="AddRoom" asp-route-id="@room.Id" asp-route-coworkingId="@room.CoworkingId">
                        <input name="seatsCount" type="number" min="1" required />
                        <input type="submit" value="Update room" />
                    </form>
                </td>
                <td>
                    <a asp-controller="Room" asp-action="Room" asp-route-id="@room.Id">To this room</a>
                </td> 
                <td>
                    <a asp-controller="Room" asp-action="DeleteRoom" asp-route-id="@room.Id">Delete room</a>
                </td>
            </tr>
        }
    </tbody>
</table>