
@using Microsoft.AspNetCore.Identity
@model CoworkingListViewModel
@inject UserManager<User> _userManager
@{
    var userId = _userManager.GetUserAsync(User).GetAwaiter().GetResult().Id;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Cost
            </th>
            <th>
                Is active
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coworking in Model.Coworkings)
        {
            var rowStyle = coworking.IsOpen ? "table-light" : "table-dark";

            <tr class=@rowStyle>
                <td>
                    <a asp-controller="Coworking" asp-action="Coworking" asp-route-id="@coworking.Id">
                        @coworking.Name
                    </a>
                </td>
                <td>
                    @coworking.Cost
                </td>
                <td>
                    @if (coworking.IsOpen)
                    {
                        <label>This coworking is open</label>
                    }
                    else
                    {
                        <label>This coworking is closed</label>
                    }

                </td>
                @if (coworking.IsOpen && @userId != coworking.OwnerId)
                {
                    <td>
                        <a asp-controller="User" asp-action="AddUserToCoworking" asp-route-coworkingId="@coworking.Id" asp-route-userId="@userId">Join the coworking</a>
                    </td>
                }
                @if (userId == coworking.OwnerId)
                {
                    <td>
                        <a asp-controller="Coworking" asp-action="CreateCoworking" asp-route-id="@coworking.Id">Update</a>
                    </td>
                    <td>
                        <a asp-controller="Coworking" asp-action="CloseCoworking" asp-route-id="@coworking.Id" asp-route-whereCameFrom="@Model.WhereRedirectBack">Open or close</a>
                    </td>
                    <td>
                        <a asp-controller="Coworking" asp-action="DeleteCoworking" asp-route-id="@coworking.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>