@using CoworkingService.Helpers
@model List<UserInCoworking>

@inject ICalculateUserDebt calculator;

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            IsBanned
        </th>
        <th>
            Ban from coworking
        </th>
        <th>
            Time spended
        </th>
        <th>
            Unpayed time spended
        </th>
        <th>
            How much own
        </th>
        <th>
            He paid
        </th>
        <th>
            Add unpayed hours
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var uic in Model)
        {
            var rowStyle = uic.IsBanned ? "table-dark" : "table-light";
            <tr class=@rowStyle>
                <td>
                    @uic.User.Name
                </td>
                <td>
                    @uic.User.Phone
                </td>
                <td>
                    @uic.User.Email
                </td>
                <td>
                    @uic.IsBanned
                </td>
                <td>
                    <a asp-controller="User" asp-action="BanUserFromCoworking" asp-route-coworkingId="@uic.CoworkingId" asp-route-userId="@uic.UserId">Ban from this coworking</a>
                </td>
                <td>
                    @uic.TotalTimeSpended
                </td>
                <td>
                    @uic.UnpayedHoursSpended
                </td>
                <td>
                    @await calculator.CalculateAsync(uic.CoworkingId, uic.UserId)
                </td>
                <td>
                    <a asp-controller="User" asp-action="UserPaidHisTime" asp-route-coworkingId="@uic.CoworkingId" asp-route-userId="@uic.UserId">User paid his hours</a>
                </td>
                <td>
                    <form asp-controller="User" asp-action="AddUnpayedHours" asp-route-coworkingId="@uic.CoworkingId" asp-route-userId="@uic.UserId">
                        <input name="hours" type="number" required min="1" />
                        <input type="submit"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>